.add-button {
  border: 1px solid #ccc;
  background-color: #0b4f4a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 25px;
  scroll-snap-align: end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 8px;
}

.add-button:hover {
  background-color: #0d6e6a;
}

.add-button img {
  width: 50px;
  height: 50px;
}
