.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-campaigns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
