.card {
  border: 1px solid #ccc;
  position: relative;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50vw;
}

.edit-button,
.delete-button {
  position: absolute;
  right: 12px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-button {
  bottom: 12px;
}

.delete-button {
  top: 12px;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 0.7;
}

.edit-button img,
.delete-button img {
  width: 24px;
  height: 24px;
}
