.navbar {
  background-color: #0b4f4a;
  padding: 0.5rem;
  color: white;
  display: flex;
  justify-content: center;
}

.navbar button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
}
